.main-class{
    background-image: url(../images/She\ webs\ website\ banner\ .png);
    background-color: #fff5f5;
    position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100;
}