@media screen  and (max-width: 600px) {
    .menuTop a:not(:first-child) {display: none;}
    .menuTop a.icon{
        float: left;
        display: block;
    }
    
}

@media screen and (max-width: 600px){
    .menuTop.responsive {position: relative;}
    .menuTop.menuTop.responsive .icon{
        position: absolute;
        right: 0;
        top: 0;
    }
    .menuTop.responisve a {
        float: none;
        display: block;
        text-align: right;
    }
}





.menuTop{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #e2aec9;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: "Brush Script MT";
    font-size: 26px;
}

.menuTop ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff5f5;
    position: fixed;
    top: 0;
    width: 100%;
}

.menuTop li {
    float: right;
}

.menuTop li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 30px ;
    text-decoration: none;
}

